.container{
    display: flex;
    
}
.edittablecss {
 margin: 10px;
 
}
.tablecell {
    width:40%
}
.userheading {
    font-size: 20px;
   font-weight: bold;
}
th, td {
    padding: 6px;
  }